<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="fmkclient.net.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <behaviors>
          <endpointBehaviors>
            <behavior name="sealbehavior">
              <sealBehavior />
            </behavior>
          </endpointBehaviors>
        </behaviors>
        <extensions>
          <behaviorExtensions>
            <add name="sealBehavior" type="dk.nsi.seal.SealBehaviorExtentionElement, Seal" />
          </behaviorExtensions>
        </extensions>
      
        <bindings>
            <basicHttpBinding>
                <binding name="MedicineCardBinding" receiveTimeout="00:01:30"
                    maxReceivedMessageSize="5242880">
                    <security mode="Transport">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="EffectuationOrderingBinding" />
                <binding name="MedicineCardBinding1">
                    <security mode="Transport" />
                </binding>
                <binding name="MedicineCardBinding2" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://test2.fmk.netic.dk/fmk12/ws/MedicineCard"
                behaviorConfiguration="sealbehavior" binding="basicHttpBinding"
                bindingConfiguration="MedicineCardBinding" contract="fmk20150601.MedicineCardPortType"
                name="FmkTest1" />
            <endpoint address="http://trifork.lms.trifork.com/fmk12/ws/EffectuationOrdering"
                binding="basicHttpBinding" bindingConfiguration="EffectuationOrderingBinding"
                contract="ServiceReference1.EffectuationOrderingPortType"
                name="EffectuationOrderingPort" />
            <endpoint address="https://test2.fmk.netic.dk/fmk12/ws/medicinecard"
                binding="basicHttpBinding" bindingConfiguration="MedicineCardBinding1"
                contract="fmk20150601.MedicineCardPortType" name="MedicineCardPort" />
        </client>
    </system.serviceModel>
    <userSettings>
        <fmkclient.net.Properties.Settings>
            <setting name="IDCardIssuer" serializeAs="String">
                <value>TRIFORK SERVICES A/S</value>
            </setting>
            <setting name="SosiCareProviderName" serializeAs="String">
                <value>Trifork</value>
            </setting>
            <setting name="SosiCareProviderCvr" serializeAs="String">
                <value>20921897</value>
            </setting>
            <setting name="ITSystemName" serializeAs="String">
                <value>fmkclient.net</value>
            </setting>
            <setting name="CERTPass" serializeAs="String">
                <value>Test1234</value>
            </setting>
            <setting name="UserRole" serializeAs="String">
                <value>Læge</value>
            </setting>
            <setting name="UserEmail" serializeAs="String">
                <value>kpn@trifork.com</value>
            </setting>
            <setting name="WhitelistSystemOwner" serializeAs="String">
                <value>Trifork</value>
            </setting>
            <setting name="WhitelistSystemName" serializeAs="String">
                <value>fmkclient.net</value>
            </setting>
            <setting name="WhitelistOrgUsingName" serializeAs="String">
                <value>Trifork</value>
            </setting>
            <setting name="WhitelistSystemVersion" serializeAs="String">
                <value>1.2</value>
            </setting>
            <setting name="WhitelistOrgResponsibleName" serializeAs="String">
                <value>Trifork</value>
            </setting>
            <setting name="WhitelistOrgCVR" serializeAs="String">
                <value>20921897</value>
            </setting>
            <setting name="WhitelistRequestedRole" serializeAs="String">
                <value>Læge</value>
            </setting>
            <setting name="CERTCVR" serializeAs="String">
                <value>20921897</value>
            </setting>
            <setting name="STSUrl" serializeAs="String">
                <value>http://test2-cnsp.ekstern-test.nspop.dk:8080/sts/services/SecurityTokenService</value>
            </setting>
            <setting name="UserGivenName" serializeAs="String">
                <value>Lene</value>
            </setting>
            <setting name="UserSurName" serializeAs="String">
                <value>Rasmussen</value>
            </setting>
            <setting name="UserCpr" serializeAs="String">
                <value>2611223938</value>
            </setting>
            <setting name="UserAuthCode" serializeAs="String">
                <value>K4CQR</value>
            </setting>
            <setting name="WhitelistYdernummer" serializeAs="String">
                <value>8001149</value>
            </setting>
            <setting name="CERTGivenName" serializeAs="String">
                <value>Lene Rasmussen</value>
            </setting>
            <setting name="CERTPath" serializeAs="String">
                <value>C:\Projects\fmkclient.net\fmkclient.net\cert\LeneRasmussen.p12</value>
            </setting>
        </fmkclient.net.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <system.diagnostics>
      <sources>
        <source name="System.ServiceModel"
                switchValue="Information, ActivityTracing"
                propagateActivity="true">
          <listeners>
            <add name="traceListener"
                type="System.Diagnostics.XmlWriterTraceListener"
                initializeData="c:\logs\Traces.svclog"  />
          </listeners>
        </source>
      </sources>
    </system.diagnostics>
</configuration>
